main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.immagine{
  width: 350px
}
button{
  font-size: 50px;
  margin-top: 20px;
  padding-left: 10px;
  background-color: white;
}
.box{
  height: 330px;
}
